@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap"); /* font-family: 'Bad Script', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"); /* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap"); /* font-family: 'Jura', sans-serif;  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway"); /* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"); /* font-family: 'Inter', sans-serif; */

:root {
  --orange: #ff7300;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Alumni Sans Pinstripe";
  list-style-type: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
  height: 100%;
  background-color: rgb(32, 27, 27);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
}

body::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

body {
  color: var(--white);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.82),
      rgba(0, 0, 0, 0.82),
      rgba(0, 0, 0, 0.82),
      rgba(0, 0, 0, 0.82),
      rgba(0, 0, 0, 0.82)
    ),
    url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: bottom;
}

input {
  outline: none;
  border: none;
  font-size: 1.25em;
  width: 50vw;
  height: 2.5em;
  padding: 0 0.7em;
  margin: 1em 0;
  border-radius: 2em;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  font-size: 1em;
  width: 50%;
  height: 10em;
  margin: 1em 0;
  padding: 0.5em 0.7em;
}

.container {
  width: 100%;
}

.logo {
  width: 100%;
}

.time-container {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  width: 100%;
  border: 0.1em var(--orange) solid;
}

.time {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.counter-container-today {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.counter-container-yesterday {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em var(--orange) solid;
  padding: 1em;
}

.counter h2 {
  font-size: 1em;
}

.number-counter {
  font-size: 2.5em;
  padding: 0.5em 0;
}

.icon-btn {
  font-size: 2em;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  outline: none;
  border: none;
  border-radius: 2em;
}

.plus-btn {
  background-color: #5cd35c;
  transition: 0.3s;
  cursor: pointer;
}

.minus-btn {
  background-color: #ee4646;
  transition: 0.3s;
  cursor: pointer;
}

.add-btn {
  border: none;
  font-size: 2em;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  border-radius: 2em;
  background-color: #5cd35c;
  transition: 0.3s;
  cursor: pointer;
}

.download-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#descargarBtn {
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-size: 2.5em;
  background-color: #5cd35c;
  border-radius: 2em;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

#descargarBtn:hover {
  opacity: 1;
}

#resetBtn {
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 1.35em;
  background-color: #ee4646;
  border-radius: 2em;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

#resetBtn:hover {
  margin: 0.5em 0;
  opacity: 1;
}

/***************************************************************************************************/

.input-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em 3em;
  width: 100%;
  border: 0.1em var(--orange) solid;
}

.item-container {
  padding-top: 1em;
}

.input-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5em;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  font-size: 1.5em;
}

.footer a {
  margin: 0.1em 0 0 0.25em;
  color: white;
  border-bottom: 0.1em solid #ee4646;
  transition: 0.5s;
}

.footer a:hover {
  border-bottom: 0.1em solid #5cd35c;
}

.heart {
  font-size: 1.5em;
  padding: 0 0.25em;
  color: #ee4646;
}
